# Directories
######################
.env/
venv/
.venv/
env.bak/
venv.bak/
logs/
temp/
dist/
# Python
######################
*.py[cod]
__pycache__/
*.pyc
.lgd-nfy0
.env

# Visual Studio Code
.vscode/

# Other
auth_token.json
*.secure
app/trial_config.json
.env
