<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Skinnerbox App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script>
            onload = function() {
                fetch('/current_user')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.current_user) {
                            document.getElementById('id02').style.display = 'block';
                            document.getElementById('id02').innerHTML = `<h3>Logged in as: ${data.current_user}</h3>`;
                            document.getElementById('id03').style.display = 'none';
                        } else {
                            document.getElementById('id02').style.display = 'none';
                            document.getElementById('id03').style.display = 'block';
                        }
                    })
                    .catch(error => console.error('Error fetching current user:', error));
            };

            function loginUser(event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                const data = {
                    email: formData.get('uname'),
                    password: formData.get('psw')
                };

                fetch('/login_user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.access_token) {
                        document.getElementById('id01').style.display = 'none';
                        location.reload();
                    } else {
                        alert('Login failed');
                    }
                });
            }

            function logoutUser() {
                fetch('/logout_user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert(data.message);
                        location.reload();
                    } else {
                        alert('Logout failed.');
                    }
                })
                .catch(error => console.error('Error logging out:', error));
            }

        </script>
    </head>
    <body>
        <div class="container" style="display: block; text-align: center;">
            <header>
                <h1>Welcome to the Skinnerbox App</h1>
            </header>

            <hr style="width: 50%;"><br>

            <section class="get-started" style="display: block;">
                <h2>Get Started</h2>
                <p>To test the I/O of your skinner box click here: </p>
                <form action="/test_io" method="post">
                    <input type="submit" value="Test I/O">
                </form>
                <p>To run a trial click here: </p>
                <form action="/trial" method="post">
                    <input type="submit" value="Go To Trial">
                </form>
                <p>To view logs click here: </p>
                <form action="/log-viewer" method="get">
                    <input type="submit" value="View Logs">
                </form>
            </section>

            <br><br><hr style="width: 50%;"><br>

            <div class="LoginLogout" style="display: block;">
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                <button onclick="logoutUser()" style="width:auto;">Logout</button>
                <div id="id02" style="display:none;">
                    <h3>Logged in as: {{ current_user }}</h3>
                </div>
                <div id="id03" style="display:none;">
                    <h3 style="color: red;">Not logged in</h3>
                </div>
                <div class="Login">
                    <div id="id01" class="modal">
                        <form class="modal-content animate" onsubmit="loginUser(event)">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            </div>
                            <div class="container">
                                <label for="uname"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="uname" required>
                                <label for="psw"><b>Password</b></label>z
                                <input type="password" placeholder="Enter Password" name="psw" required>
                                <button type="submit">Login</button>
                            </div>
                            <div class="container" style="background-color:#f1f1f1">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>