{% extends "base.html" %}

{% block head %}
    <title>Skinnerbox - Log Viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block scripts %}
    <script>
        onload= function() {
            // Check if user is logged in
        fetch('/current_user')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (!data.current_user) { // If not logged in, hide remote logs
                    document.getElementById('remote-logs').style.display = 'none';
                    document.getElementById('remote-log-btn').style.display = 'none';
                    document.getElementById('local-log-btn').style.display = 'inline-block';
                    showLocalLogs();
                } else { // If logged in, show remote logs
                    document.getElementById('remote-logs').style.display = 'block';
                    document.getElementById('remote-log-btn').style.display = 'inline-block';
                    document.getElementById('local-log-btn').style.display = 'inline-block';
                    document.getElementById('LoginWarning').style.display = 'none';
                    showRemoteLogs();
                }
            })
            .catch(error => console.error('Error fetching current user:', error));
        }
        function viewLog(filename) {
            // Fetch log content and display in the log viewer
            fetch('/view-log/' + encodeURIComponent(filename))
                .then(response => response.text())
                .then(html => {
                    const logViewer = document.getElementById('log-viewer');
                    logViewer.innerHTML = html; // Use innerHTML instead of textContent

                    // Update the download buttons
                    var downloadBtn = document.getElementById('download-btn');
                    downloadBtn.href = '/download-raw-log/' + encodeURIComponent(filename);
                    downloadBtn.style.display = 'inline-block';

                    var downloadExcelBtn = document.getElementById('download-excel-btn');
                    downloadExcelBtn.href = '/download-excel-log/' + encodeURIComponent(filename);
                    downloadExcelBtn.style.display = 'inline-block';
                })
                .catch(error => {
                    console.error('Error fetching the log:', error);
                    document.getElementById('log-viewer').textContent = 'Error loading log content.';
                });
        }
        function showLocalLogs(){
            document.getElementById('local-logs').style.display = 'block';
            document.getElementById('local-log-btn').style.backgroundColor = '#3700B3';
            document.getElementById('remote-logs').style.display = 'none';
            document.getElementById('remote-log-btn').style.backgroundColor = 'transparent';
        }
        function showRemoteLogs(){
            document.getElementById('local-logs').style.display = 'none';
            document.getElementById('local-log-btn').style.backgroundColor = 'transparent';
            document.getElementById('remote-logs').style.display = 'block';
            document.getElementById('remote-log-btn').style.backgroundColor = '#3700B3';
        }
    </script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="log-list">
            <div class="Buttons">
                <a id="remote-log-btn" href="javascript:showRemoteLogs();" style="width: 25%; display: none;">Remote</a>
                <a id="local-log-btn" href="javascript:showLocalLogs();" style="width: 25%; display: none;">Local</a>
            </div>
            <div id="remote-logs" style="display: none;">
                <p>WIP</p>
            </div>
            <div id="local-logs" style="display: none;">
                <!-- Log list will be populated by Flask -->
                {% for log_file in log_files %}
                <a onclick="viewLog('{{ log_file }}')">{{ log_file }}</a>
                {% endfor %}
            </div>
            <div id="LoginWarning" style="display: none;">
                <p style="color: #3700B3;">Remote Log Viewer is only available to logged in users.</p>
            </div>
        </div>
        <div id="log-viewer" style="display: block;">
            <!-- Log content will be displayed here -->
            <p>Log Viewer:</p>
        </div>
    </div>
    <div id="download-buttons" style="display: block;">
        <a id="download-btn" href="" download>Download Raw Log</a>
        <a id="download-excel-btn" href="" download>Download Excel Log</a>
    </div>
{% endblock %}
